<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Generate command</title>
</head>
<body>
<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Главная</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Заглушка №1</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Заглушка №2</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Заглушка №3</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Заглушка №4</a></li>
  </ul>
</header>
<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>CopyOldNewAtr</h2>
      <p class="lead">Создание команды робота с указанными параметрами для удобной работы при переайдировании</p>
    </div>

    <div class="row g-5">
      <div class="">
        <h4 class="mb-3">Выберите параметры</h4>
        <form  class="needs-validation" novalidate="" method="post">
          <div class="row g-3">
            <div class="col-12">
              <label for="fltType" class="form-label">Тип атрибута</label>
              <input type="text" class="form-control" id="fltType" placeholder="Введите тип атрибута" name="fltType" th:value="${data?.fltType}">
              <br/>
            </div>
            <div class="col-12">
              <label for="oldAtr" class="form-label">ID старого атрибута</label>
              <input type="text" class="form-control" id="oldAtr" placeholder="Введите id старого атрибута" name="oldAtr" th:value="${data?.oldAtr}">
              <br/>
            </div>
            <div class="col-12">
              <label for="newAtr" class="form-label">ID нового атрибута</label>
              <input type="text" class="form-control" id="newAtr" placeholder="Введите id нового атрибута" name="newAtr" th:value="${data?.newAtr}">
              <br/>
            </div>
            <div class="col-md-5">
              <label for="tomcat" class="form-label">Томкат</label>
              <select class="form-select" id="tomcat" required name="tomcat">
                <option value="">Выберите...</option>
                <option th:each="i : ${#numbers.sequence(2, 20, 1)}">
                  <span th:text="${ i }"></span>
                </option>
              </select>
            </div>

            <div class="col-12">
              <label for="ids" class="form-label">IDS</label>
              <input type="text" class="form-control" id="ids" placeholder="Введите id нового атрибута" name="ids" th:value="${data?.ids}">
              <br/>
            </div>

          </div>

          <hr class="my-4">

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="block" name="block" value="1" th:checked="${data?.block == '1'}">
            <label class="form-check-label" for="block">Блочный тип?</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="reverse" value="1" id="reverse" th:checked="${data?.reverse == '1'}">
            <label class="form-check-label" for="reverse">Нужен реверс? (для атрибутов у которых более 2500 симвоволов и в мете данные делятся на части)</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="chainy" value="1" id="chainy" th:checked="${data?.chainy == '1'}">
            <label class="form-check-label" for="chainy">Цепочечный тип?</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="needCheck" value="1" id="needCheck" th:checked="${data?.needCheck == '1'} ? 'checked'">
            <label class="form-check-label" for="needCheck">Проверка на пустоту?</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="needArray" value="1" id="needArray" th:checked="${data?.needArray == '1'}">
            <label class="form-check-label" for="needArray">Переложить массивом?</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="needEdit" value="1" id="needEdit" th:checked="${data?.needEdit == '1'}">
            <label class="form-check-label" for="needEdit">Редактировать объекты?</label>
          </div>

          <div class="highlight"><pre></pre></div>
          <hr class="my-4">
          <button class="w-100 btn btn-primary btn-lg" type="submit">Сгенерировать команду</button>
        </form>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2023 A.Bezrukov</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Заглушка №1</a></li>
      <li class="list-inline-item"><a href="#">Заглушка №2</a></li>
      <li class="list-inline-item"><a href="#">Заглушка №3</a></li>
    </ul>
  </footer>
</div>
</body>
</html>